{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 mx-auto mb-3">
        <h2>Hidden Movies</h2>
        <hr />
        <ul class="list-group">
          {% for movie in template_data.movies %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <img src="{{ movie.image.url }}" class="rounded" style="height:40px;width:40px;object-fit:cover;margin-right:8px;" />
              <strong>{{ movie.name }}</strong>
            </div>
            <form method="post" action="{% url 'movies.unhide' id=movie.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-outline-primary">Unhide</button>
            </form>
          </li>
          {% empty %}
          <li class="list-group-item">You have no hidden movies.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
