{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 mx-auto mb-3">
        <h2>Top Comments</h2>
        <hr />
        <ul class="list-group">
          {% for review in template_data.reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }} on "{{ review.movie.name }}"
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.comment }}</p>
            <p>
              <i class="fas fa-thumbs-up text-success"></i> {{ review.upvotes }} &nbsp;
              <i class="fas fa-thumbs-down text-danger"></i> {{ review.downvotes }}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}